<!doctype html>

<html>
  <head>
    <title>BarCamp</title>
    
    <link rel="stylesheet" href="global.css">
  </head>

  <body>
    <header id=front>
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/title.png?token=ALpfS3TmHUU5Q8hAVpoaN2lygtbEv8Wrks5Vm-srwA%3D%3D">
    </header>
    
    <div id="body_image">
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/hero.png?token=ALpfSxHcQl3J1_til0mblaTr8w84QfvEks5Vm-4FwA%3D%3D">
    </div>
    
    <div id="footer" >
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/aiga.png?token=ALpfS-X3LSF4wK0qy63EMsRUwAn9bMIUks5Vm_CiwA%3D%3D" id="middle">
    </div>
    
    <div class="top_space">
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/register-bird.png?token=ALpfS04KxHe8raKH0tWwjCotbwsIdFACks5Vm_UnwA%3D%3D">
    </div>
    
    <div class="info">
      <h2>At BarCamp, you don't have to be an expert to give a talk.</h2>
      <p>
        You just have to be passionate. At BarCamp, you won't find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and communicate what you're most passionate about. Come one, come all.
      </p>
    </div>
    
    <div id="dash_line">
    </div>
    
    <div class="info">
      <h2 class="center">Talks are organized into one of four speaking categories. Some possible talks may include:</h2>
    </div>
    
    <div id="talk_list" class="center" class="info">
      <h4 class="top_space">Entrepreneur</h3>
        
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/entrepreneur.png?token=ALpfS85RzZdMf0vdgWkrd9ik8zasCEw-ks5VnAErwA%3D%3D">
      
      <p>Marketing Your iOS App</p>
      <p>Bird Watching for fun and profit</p>
      <p>Competitive Intelligence on a Shoestring</p>
      <p>How to get Venture Capital</p>
      <p>Fostering a Co-working Environment</p>
    </div>
    
    <div id="talk_list" class="center" class="info">
      <h4 class="top_space" class="top_border">Creative</h3>
        
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/creative.png?token=ALpfS4mMIhfHpx_mhI05cRlhKRVStP7Pks5VnAUvwA%3D%3D">
      
      <p>Creative Problem Solving</p>
      <p>How to Make the Perfect Paper Snowflake</p>
      <p>Design for Mobile Devices</p>
      <p>Plumbing Metaphors can Improve Your Interfaces</p>
      <p>Photography Lighting Basics</p>
    </div>
    
    <div id="talk_list" class="center" class="info">
      <h4 class="top_space" class="top_border">Technology</h3>
        
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/technology.png?token=ALpfS1dVqhNH7LNgGOK3YvIleIbpGvfuks5VnAcewA%3D%3D">
      
      <p>CSS3 and the Future of Design</p>
      <p>How to Wrangle WordPress</p>
      <p>HTML5 and the Modern Browser</p>
      <p>iPhone, Me, and My Drone</p>
      <p>Hardware is the New Geocities</p>
    </div>
    
    <div id="talk_list" class="center" class="info">
      <h4 class="top_space" class="top_border">Kitchen Sink</h3>
        
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/kitchen-sink.png?token=ALpfS6wIPL6oixQJmPd52_wvrSceeXKSks5VnAeEwA%3D%3D">
      
      <p>Squirrel Trapping and More</p>
      <p>How to Chop Wood like a Pro</p>
      <p>Teenage Globetrotting</p>
      <p>Making the Best Cup of Coffee</p>
      <p>Down a Rabbit Hole of Cool Science</p>
    </div>
  </body>
</html>