body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 370px;
}

#footer {
  background-color: #536563;
  position: relative;
  top: -10px;
}

#register_today {
  margin-top: 50px;
}

#talk_subjects {
  text-align: center;
}

.info {
  width: 320px;
  color: #536563;
  line-height: 28px;
  position: relative;
  left: 10px;
}

.talk_list {
  width: 320px;
  color: #536563;
  line-height: 28px;
  position: relative;
  left: 10px;
}

.talk_list h4 {
  font-size: 20px;
  color: #709b4c;
}


.talk_list p {
  color: #71502b;
  font-size: 15px;
  line-height: 15px;
}

.top_space {
  margin-top: 100px;
  padding-top: 20px;
  border-top: 1px solid black;
}

#event_schedule {
  background-image: url("https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part3/wood-bg.png?token=ALpfS_D_VTkWX0Mn9y6Er9zWmk1Pon9jks5VnCwBwA%3D%3D");
  background-repeat: repeat-y;
  width: 360px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
}












#front {
  background-color: #2c4947;
}

#middle {
  position: relative;
  left: 50px;
}


.info p {
  font-size: 18px;
}

.center {
  text-align: center;
}


#dash_line {
  height: 10px;
  background-image: url("https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/dash-horizontal.png?token=ALpfS11mJ-aLBpsRN9bBDjSdn22u-6Liks5Vm_xxwA%3D%3D");
  background-repeat: repeat-x;
}

.top_border {
  border-style: solid;
  border-top: #ff0000;
}

#event_schedule img {
  width: 300px;
  padding-top: 110px;
  padding-bottom: 70px;
  position: relative;
}

#event_schedule h1 {
  color: #f2cd31;
  font-size: 35px;
  line-height: 28px;
}

#event_schedule h4 {
  color: white;
}

.circle {
  width:70px;
  height:70px;
  border-radius:50px;
  color:#fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 8px;
  padding: 4px;
  
  border: 3px solid #eb5b33;
}
 
 
.time {
  padding-top: 3px;
  font-size: 40px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.font {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#event_schedule h2 {
  font-weight: normal;
  font-size: 20px;
}

#event_schedule p {
  font-size: 14px;
  position: relative;
  top: -10px;
}

.events {
  color: white;
  margin-bottom: 50px;
}

#event_text {
  font-family: "Comic Sans MS", cursive, sans-serif;
}